<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Fazenda</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
    <nav> 
              <!-- Imagem Menu Apresentação  -->
            <h1>
                Sabores do Campo
            </h1>  
            <p>Receitas Caseiras & Sobremesas</p>     
            <!-- Menu Site -->
            <ul class="navbar">
                <li>
                    <a href="index.html">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="bolos.html">
                        Bolos Caseiros
                    </a>
                </li>
                <li>
                    <a href="sobremesas.html">
                        Sobremesas
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <!-- Receitas -->
         <div id="receitas">
            <h2>
                <img id="icones" src="../images/bolo-de-fuba.png">
                Bolos e Caseiros -
            </h2>
            <hr>
            <main>
                <article>
                    <h3>
                        <img id="icones" src="../images/bolo-de-chocolate.png">
                        Bolo de Chocolate - 
                    </h3>
                    <p>O melhor bolo e mais fofinho, e ainda com aquela calda, que você vai preparar hoje!</p>
                </article>
                <h5>- Ingredientes - </h5>
                <div class="container">
                    <nav class="texto">
                        <ul>
                            <li>3 ovos</li>
                            <li>1 xícara de açúcar</li>
                            <li>1/2 xícara de óleo</li>
                            <li>1 xícara de leite</li>
                            <li>1 xícara de chocolate em pó</li>
                            <li>2 xícaras de farinha de trigo</li>
                            <li>1 colher (sopa) de fermento em pó</li>
                        </ul>
                    </nav>
                    <img src="../images/chocolate-pronto.jpg" alt="Descrição da Imagem" class="imagem">
                </div>
                <h5>- Cobertura - </h5>
                <nav>
                    <ul>
                        <li> 1 lata de leite condensado</li>
                        <li> 3 colheres (sopa) de chocolate em pó</li>
                        <li>1 colher (sopa) de manteiga</li>
                    </ul>
                </nav>
                <h5>Modo de Preparo -</h5>
                <nav>
                    <ol>
                        <li>Bata os ovos, o açúcar e o óleo até formar um creme.</li>
                        <li>Adicione o leite e o chocolate em pó, misture bem.</li>
                        <li>Acrescente a farinha aos poucos.</li>
                        <li>Por último, adicione o fermento e misture delicadamente.</li>
                        <li>Despeje em forma untada e leve ao forno pré-aquecido a 180°C por cerca de 35–40 minutos.</li>
                    </ol>
                </nav>
                <hr>
                <article>
                    <h3>
                        <img id="icones" src="../images/bolo-de-cenoura.png">
                        Bolo de Cenoura - 
                    </h3>
                    <p>O melhor bolo e mais fofinho que você vai preparar hoje!</p>
                </article>
                <h5>- Ingredientes Massa - </h5>
                <div class="container">
                    <nav class="texto">
                        <ul>
                            <li>3 cenouras médias picadas</li>
                            <li>3 ovos</li>
                            <li>1 xícara de óleo</li>
                            <li>2 xícaras de açúcar</li>
                            <li>2 xícaras de farinha de trigo</li>
                            <li>1 colher (sopa) de fermento em pó</li>
                        </ul>
                    </nav>
                    <img src="../images/bolo-cenoura.jpg" alt="Descrição da Imagem" class="imagem">
                </div>
                <h5>- Cobertura - </h5>
                <nav>
                    <ul>
                        <li>1 xícara de açúcar</li>
                        <li>3 colheres (sopa) de chocolate em pó</li>
                        <li>2 colheres (sopa) de manteiga</li>
                        <li>1/2 xícara de leite</li>
                    </ul>
                </nav>
                <h5>Modo de Preparo -</h5>
                <nav>
                    <ol>
                        <li>No liquidificador, bata a cenoura, os ovos e o óleo até ficar homogêneo.</li>
                        <li>Em uma tigela, misture o açúcar e a farinha.</li>
                        <li>Adicione a mistura do liquidificador e mexa bem.</li>
                        <li>Acrescente o fermento e misture delicadamente.</li>
                        <li>Asse em forno pré-aquecido a 180°C por 35–40 minutos.</li>
                    </ol>
                </nav>
            </main>
            <hr>
            <a id="topo" href="#"> ^ TOPO ^</a>
            <hr>
            <footer>
                Receitas de Sabores do campo - Email: saboresdocampo@gmail.com - 
            </footer>
        </div>
</body>
</html>