<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A Fazenda</title>
        <link rel="stylesheet" href="/style/styles.css">
    </head>
    <body>
        <nav> 
              <!-- Imagem Menu Apresentação  -->
            <h1>
                Sabores do Campo
            </h1>  
            <p>Receitas Caseiras & Sobremesas</p>     
            <!-- Menu Site -->
            <ul class="navbar">
                <li>
                    <a href="#home">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="bolos.html">
                        Bolos Caseiros
                    </a>
                </li>
                <li>
                    <a href="sobremesas.html">
                        Sobremesas
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <!-- Receitas -->
         <div id="receitas">
            <h2>
                <img id="icones" src="../images/livro-de-receitas.png">
                Venha saborear o que a de melhor no campo -
            </h2>
            <p>
                Sabores do Campo é mais do que um site de receitas — é um convite para sentir o 
                aroma da comida feita com carinho, direto da roça para a sua mesa. Aqui, cada 
                prato carrega tradição, afeto e o verdadeiro gostinho do interior. Descubra 
                receitas simples, saborosas e cheias de história que transformam ingredientes 
                do dia a dia em experiências inesquecíveis.
                <br><br>
                Venha despertar memórias, experimentar novos sabores e se apaixonar pela culinária 
                do campo!
            </p>
            
             <h2>
                <img id="icones" src="../images/culinaria.png">
                O melhor para você - 
            </h2>
            <p>
                No Sabores do Campo, você encontra muito mais do que simples receitas — aqui é um espaço feito para compartilhar paixão pela cozinha caseira.
                <br><br>
                🥮 Receitas de Bolos<br>
                <hr>
                Explore uma seleção especial de bolos fofinhos, caseiros e cheios de sabor — 
                desde os clássicos de milho e fubá até combinações criativas para surpreender a família.
                <br><br>
                📖 Receitas Tradicionais e Especiais<br>
                <hr>
                Navegue por diversas categorias de pratos típicos do campo, com modo de preparo 
                detalhado, lista de ingredientes organizada e dicas práticas para garantir o 
                melhor resultado.
                <br>
            </p>
            <hr>
                <a id="topo" href="#"> ^ TOPO ^</a>
            <hr>
            <footer>
                Receitas de Sabores do campo - Email: saboresdocampo@gmail.com - 
            </footer>
        </div>  
    </body>
    </html>
      