<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Fazenda</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
    <nav> 
              <!-- Imagem Menu Apresentação  -->
            <h1>
                Sabores do Campo
            </h1>  
            <p>Receitas Caseiras & Sobremesas</p>     
            <!-- Menu Site -->
            <ul class="navbar">
                <li>
                    <a href="index.html">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="bolos.html">
                        Bolos Caseiros
                    </a>
                </li>
                <li>
                    <a href="sobremesas.html">
                        Sobremesas
                    </a>
                </li>
                <li>
                    <a href="minhasreceitas.html">
                        Minhas Receitas
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <!-- Receitas -->
         <div id="receitas">
            <h2>
                <img id="icones" src="../images/registro.png">
                Cadastrar Minhas Receitas -
            </h2>
            <hr>
              <form action="#" method="post">
            <h2>Cadastro</h2>
            <div class="input-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
            <hr>
            <a id="topo" href="#"> ^ TOPO ^</a>
            <hr>
            <footer>
                Receitas de Sabores do campo - Email: saboresdocampo@gmail.com - 
            </footer>
        </div>
</body>
</html>